<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div>
		<div class="list-board">
			<div class="div-head border-black">
				<span class="num first">번호</span> <span class="subj second">제목</span>
				<span class="name">이름</span> <span class="date hidden-xs">날짜</span>
				<span class="hit">답변</span>
			</div>
			<ul class="board-list">
				<li>
					<a href="#" onclick="more_iq('more_iq_0'); return false;">
							<div class="num">2</div>
							<div class="subj ellipsis cursor">배송문의</div>
							<div class="name ellipsis">또자</div>
							<div class="date hidden-xs">2022.02.14</div>
							<div class="hit">
								<span class="main_text">답변완료</span>
							</div>
					</a>
					<div class="media" id="more_iq_0" style="">
						
						<div class="media-body">

							<div class="img-resize">어제 아침에 입금했는데 아직도 입금 완료라고만 뜨던데 배송이
								얼마나 오래 걸리나요?</div>

							<div class="div-title-wrap">
								<h5 class="div-title">
									<i class="fa fa-commenting lightgray"></i> Answer
								</h5>
								<div class="div-sep-wrap">
									<div class="div-sep sep-thin"></div>
								</div>
							</div>
							<div class="media-ans img-resize">
								<p>안녕하세요.온라인 쇼핑몰 겜우리 입니다.저희 온라인 쇼핑몰의 경우 토요일 오후 2시 이전 주문 건 까지
									발송 해 드리고 있습니다.그 이후는 택배사가 영업을 하지 않습니다.해당 주문건은 금일 발송 예정
									입니다.감사합니다.</p>
							</div>
						</div>
					</div></li>
			</ul>
			<div class="clearfix"></div>
		</div>
	</div>
</body>
</html>