<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{home/layout}">
<head>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<meta charset="UTF-8">
<title>Insert title here</title>
</head>

<body>
	<main layout:fragment="content">
		<!-- Table -->
		<div class="py-6">
			<div class="container">
				<div class="row" th:each="ptg : ${ptgInfo}">

					<!-- Profile Menu -->
					<div class="col-lg-4 pb-4 pb-lg-0 col-xxl-3  pe-xxl-5">
						<div class="bg-white border border-bottom-0 shadow-lg">
							<div class="d-flex p-3 align-items-center">
								<div class="avatar avatar-lg rounded-circle">
									<img th:src="${ptg.profile}" title="" alt="">
								</div>
								<div class="col ps-3">
									<h6 class="m-0" th:text="${ptg.Id}"></h6>
									<small><a href="/photo/mypageAo" th:text="${ptg.name}">이름</a></small>
								</div>
							
							</div>
							<ul class="list-unstyled mb-0 theme-link">
								<li class="border-bottom mb-0"><a
									class="nav-link-style d-flex align-items-center p-3"
									href="/photo/modPfAo"> <i class="fi-user me-2"></i>회원정보수정
								</a></li>
								<li class="border-bottom mb-0"><a
									class="nav-link-style d-flex align-items-center p-3"
									href="/photo/resManage"> <i class="bi bi-card-checklist"></i>예약
										관리
								</a></li>
								<li class="border-bottom mb-0"><a
									class="nav-link-style d-flex align-items-center p-3"
									href="/photo/classManage"> <i class="bi-play-btn me-2"></i>클래스
										관리
								</a></li>
								<li class="border-bottom mb-0"><a
									class="nav-link-style d-flex align-items-center p-3"
									href="/photo/mypageAoAsk"> <i
										class="bi-chat-square-dots me-2"></i>문의내역
								</a></li>
								<li class="border-bottom mb-0"><a
									class="nav-link-style d-flex align-items-center p-3"
									href="/photo/resCalendarAo"> <i class="bi-calendar me-2"></i>캘린더
								</a></li>
								<li class="border-bottom mb-0"><a
									class="nav-link-style d-flex align-items-center p-3" th:href="@{/silhyun/portfolio/{ptgId}(ptgId=${session.id})}">
										<i class="bi-person-bounding-box me-2"></i>포토폴리오
								</a></li>
								<li class="border-bottom mb-0"><a
									class="nav-link-style d-flex align-items-center p-3"
									href="/photo/reportFormAo"> <i
										class="bi bi-exclamation-diamond"></i>신고
								</a></li>
								<li class="border-bottom mb-0"><a
									class="nav-link-style d-flex align-items-center p-3" href="#">
										<i class="bi bi-box-arrow-left me-2"></i>회원탈퇴
								</a></li>
							</ul>
						</div>
					</div>
					<!-- End Profile Menu -->
					<div class="col-lg-8 col-xxl-9">
						<h2>신고내역</h2><br><br>
						<table class="table table-hover">
							<thead>
								<tr>
									<th>번호</th>
									<th>제목</th>
									<th>신고이용자</th>
									<th>신고일자</th>
									<th>처리상태</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>1</td>
									<td>노쇼신고</td>
									<td>김하나</td>
									<td>202020202</td>
									<td>처리 완료</td>
								</tr>
								
							</tbody>
						</table>
						<button type="button" class="btn btn-primary" id="reportbtn" onclick="">신고하기</button>
					</div>
				</div>
			</div>
		</div>
		<!-- End Table -->
	</main>
</body>
<script>

</script>
</html>