<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorate="~{home/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div layout:fragment="content">
	<h1>쿠폰 </h1> 
		<div class="container" >
                    <div class="row gy-4">
              
                        <div class="col-lg-4 coupon" th:each="cpL:${couponList}">
                            <div class="px-4 position-relative pt-5 text-center rounded"
                                style="background-color: #FFE088;" onclick="makeData()">
                                <div class="pb-1">
                                    <h6 style="color: #2e6b1c;" th:text="${#dates.format(cpL.startDate,'yyyy/MM/dd')}"></h6>
                                    <h6 style="color: #2e6b1c;" th:text="${#dates.format(cpL.endDate,'yyyy/MM/dd')}"></h6>
                                    <h3 class="m-0" th:text=${cpL.cntn}> </h3>
									<input type="hidden" id="userId "name="userId" th:value="${session.id}">
									<input type="hidden" id="cpnNum" name="cpnNum" th:value="${cpL.cpnNum}">
									<input type="hidden" id="cpnSta "name="cpnSta" value="N">
                                    
                                </div>
                               <br>
                            
							</div>                            
                        </div>
                    </div>
                </div>

<script type="text/javascript">
function makeData(){
	
	let coupon= event.target.closest('.coupon')//선택한쿠폰
	let id=coupon.querySelector('input[name="userId"]').value;
	let cpnNum=coupon.querySelector('input[name="cpnNum"]').value;
	let cpnSta= coupon.querySelector('input[name="cpnSta"]').value;
	if(id !=''){
	$.ajax({
		url:'/silhyun/getCoupon',
		method: 'post',
		data: { id:id,
			 	cpnNum:cpnNum,
			 	cpnSta: cpnSta
				},
		//contentType:"application/json",
		dataType:'json',
		success: function(result){
			console.log(result);
			alert("쿠폰등록");
		},
		error: function(reject){
			console.log(reject)
			alert("이미 등록된 쿠폰입니다.");
		}
		
	});}
	else{
		window.location.href="/login"
		alert("로그인 후 이용해주세요.");
	}
	

}
</script>
</div>
</body>
</html>