<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{admin/dashBoard}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="shortcut icon" href="/img/favicon.ico" />
<link href="/css/swimwear.css" rel="stylesheet" />

<body>

    <div layout:fragment="content">
        <div class="page-breadcrumb bg-white">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h3 class="page-title">관리자계정 관리</h3>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-xlg-3 col-md-12">
                    <div class="white-box">
                        <div class="user-bg">
                            <div class="overlay-box">
                                <div class="user-content">
                                    <a href="javascript:void(0)"><img th:src="${adminInfo.profile}"
                                            class="thumb-lg img-circle" alt="img" /></a>
                                    <h4 class="text-white mt-2"><b>🤍관리자님🤍</b></h4>
                                    <h5 class="text-white mt-2">환영합니다</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-xlg-9 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <form id="adminFrm" method="post" action="/updateAdmin"
                                class="form-horizontal form-material">
                                <div class="form-group mb-4">
                                    <label class="col-md-12 p-0"><b>이름</b></label>
                                    <div class="col-md-12 border-bottom p-0">
                                        <input type="text" class="form-control p-0 border-0 updateEl"
                                            data-th-value="${adminInfo.name }" th:name="name" th:readonly="true" />
                                    </div>
                                </div>
                                <div class="form-group mb-4">
                                    <label class="col-md-12 p-0"><b>아이디</b></label>
                                    <div class="col-md-12 border-bottom p-0">
                                        <input type="text" class="form-control p-0 border-0"
                                            data-th-value="${adminInfo.id }" th:name="id" th:readonly="true" />
                                    </div>
                                </div>
                                <div class="form-group mb-4">
                                    <label for="example-email" class="col-md-12 p-0"><b>Email</b></label>
                                    <div class="col-md-12 border-bottom p-0">
                                        <input type="email" class="form-control p-0 border-0" name="example-email"
                                            data-th-value="${adminInfo.email }" th:name="email" th:readonly="true" />
                                    </div>
                                </div>
                                <div class="form-group mb-4">
                                    <label class="col-md-12 p-0"><b>TEL</b></label>
                                    <div class="col-md-12 border-bottom p-0">
                                        <input type="text" class="form-control p-0 border-0"
                                            data-th-value="${adminInfo.tel }" th:name="tel" th:readonly="true" />
                                    </div>
                                </div>
                                <div class="form-group mb-4">
                                    <label class="col-md-12 p-0"><b>가입일</b></label>
                                    <div class="col-md-12 border-bottom p-0">
                                        <input type="text" class="form-control p-0 border-0" data-th-value="${#dates.format(adminInfo.joinDate, 'yyyy/MM/dd' )}"
                        th:name="joinDate" th:readonly="true"/>
                    </div>
                  </div>
                  <div class="form-group mb-4">
                    <label class="col-md-12 p-0"><b>생년월일</b></label>
                    <div class="col-md-12 border-bottom p-0">
                      <input type="text" class="form-control p-0 border-0" data-th-value="${#dates.format(adminInfo.birthDate, 'yyyy/MM/dd' )}"
                        th:name="birthDate" th:readonly="true"/>
                    </div>
                  </div>
                  <div class="form-group mb-4">
                    <label class="col-md-12 p-0"><b>성별</b></label>
                    <div class="col-md-12 border-bottom p-0">
                      <input type="text" class="form-control p-0 border-0" data-th-value="${adminInfo.genCd == 'f' ? '여성' : '남성'}"
                        th:name="genCd" th:readonly="true"/>
                    </div>
                  </div>
                  
                  <div class="form-group mb-4">
                    <div class="col-sm-12">
                      <button class="btn btn-success" type="button" id="updateBtn" data-bs-toggle="modal" data-bs-target="#topbarlogin">
                        수정
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="topbarlogin">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header bg-primary">
                <div class="modal-title p-3">
                  <h5 class="m-0 text-white">관리자 정보 수정</h5>
                  <p class="m-0 text-white">
                    아이디와 가입일은 수정할 수 없습니다.
                  </p>
                </div>
                <button type="button" class="btn-close"
                  data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="w-100 p-3">
                  <form id="updateAFrm" method="post" action="/updateAdmin">
                    <div class="mb-3">
                      <label class="form-label" for="exampleInputEmail1">이름</label>
                      <input type="text" class="form-control"
                        id="name" name="name" placeholder="***"/>
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="exampleInputPassword1">Email</label>
                      <input type="email" class="form-control"
                        id="email" name="email" placeholder="***@***.***"/>
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="exampleInputPassword1">비밀번호</label>
                      <input type="password" class="form-control"
                        id="pwd" name="pwd" placeholder="*********"/>
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="exampleInputPassword1">TEL</label>
                      <input type="tel" class="form-control"
                        id="tel" name="tel" placeholder="***-****-****"/>
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="exampleInputPassword1">생년월일</label>
                      <input type="date" class="form-control"
                        id="birthDate" name="birthDate"/>
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="exampleInputPassword1">성별</label>
                      <input type="text" class="form-control" id="genCd" name="genCd" placeholder="m 또는 f"/>
                    </div>
                    <div class="row align-items-center">
                      <div class="col-sm-4">
                        <button type="button" class="btn btn-dark" onclick="validationAFrm()">
                          수정완료
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>   
      <script src="https://code.jquery.com/jquery-3.4.1.js"></script>        
      <script th:inline="javascript">


      function validationAFrm() {
      	  const updateAFrm = document.getElementById("updateAFrm");

      	  if (
   			updateAFrm.name.value == "" &&
   			updateAFrm.email.value == "" &&
   			updateAFrm.pwd.value == "" &&
   			updateAFrm.tel.value == "" &&
   			updateAFrm.birthDate.value == "" &&
   			updateAFrm.genCd.value == ""
      	  ) {
      	    swal("수정 실패", "수정할 정보를 입력해주세요.", "warning");
      	    return false;
      	  } else {
      	    swal({
      	      title: "수정 성공",
      	      icon: "success",
      	      buttons: "확인",
      	    }).then(function (willSubmit) {
      	      if (willSubmit) {
      	        updateAFrm.submit();
      	      }
      	    });
      	  }
      	}
      
      </script>
    </div>
  </body>
</html>